*{
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #424242;
    background-color: #f5f5f5;
} 
h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: 500; 
}
h1{
    font-size: 24px;
}
h2{
    font-size:20px ;
}
h3{
    font-size: 16px;
}
h4{
    font-size: 12px;
}
h5{
    font-size: 10px;
}
h6{
    font-size: 8px;
}
p{
    font-size: 14px;
    color: #666666;
    line-height: 1.2rem;
}
/*starts our navigation section hear */
 .nav{
     width: 100%;
     color: #ffffff;
     background-color:#333333;
 }
.container {
    width: 60%;
    min-width: 500px;
    margin: 0 auto;

}
.nave__conteinear{
    display: flex;
    align-items: center;
    padding: 0.5rem 0;

}
.nav-brand-logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logo{
  width: 3rem;
  height: auto;  
}
.heading-tag{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-left: 1rem;
}
.more{
    margin-left: auto;
    display: flex;
}
.menu{
    display: flex;
    width:  20px;
    height: auto;
    cursor: pointer;
}
/*close uor navigation section hear */
/*input field start hear*/
.reuseable-function{
    width: 100%;
    border-radius: o.2rem;
    background:#ffffff;
    margin-top:2rem;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.1);
}
.add-item_input{
    width: 100%;
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    background: #ffffff;

}
.add-item__icon{
    width: 1rem;
    height: auto;
}
.add-item__input-field{
    width: 100%;
    margin-left:1rem;
    outline:none;
    border: none;
    font-size:1rem;
    color: #666666;
}
